body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
}

.profile-info, .completed-journeys, .tour-packages, .where-i-will-go {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

.flex-container {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
}

.package-card {
    border: 1px solid #ddd;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.package-btn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.package-btn:hover {
    background-color: #45a049;
}


.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.center-form form {
    text-align: center;
}
